html, body {
    margin: 5px;
    padding: 0;
}

.chuck-card{
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    border-color: plum;
    border-style: solid;
}

.validation-summary-errors {
    border:2px solid red;
    color:red;
    font-weight:bold;
    margin:6px;
    width:30%;
  }
  
  .field-validation-error{
    color:red;
     font-weight:bold;
     background-color:yellow;
  }
  
  .input-validation-error{
    color:red;
    font-weight:bold;
    background-color:pink;
  }