<html>

<head>
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js">
  </script>
</head>

<body>
  <div id="app">
    <form>
      <div v-for="index in count" :key="index">
        <label>Age{{index}}</label>
        <input :name="'age'+index" v-if="flag" data-val="true" data-val-regex="Please input a valid email"
          data-val-regex-pattern="^[0-9]{1,3}$">
        <span :data-valmsg-for="'age'+index" data-valmsg-replace="true"></span>
      </div>
    </form>
  </div>
</body>
<script src="index.js"></script>

</html>